<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center><h1>расписание</h1></center>
    <hr/>


    {# Вариация отображения расписания для тестирования #}
    {% for r in rasp %}
    <p> {{r.cur_date|date:"d.m"}} - {{r.cur_date|date:"l"}} </p>
        {% for sched in r.lessons %}
            <a>{{ sched.number_pair.number }} | {{ sched.number_pair.time_start }} - {{ sched.number_pair.time_end }} | {{ sched.discipline }} | {{ sched.building }}, {{ sched.audience_number }} | {{ sched.prepod }}</a>
            <br/>
        {% endfor %}
        <br/>
        <hr/>
    {% endfor %}
    <br/>
</body>
</html>