<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/rasp.css">
    <link rel="stylesheet" href="../css/dropStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="raspisanie">
        <div class="header">
            <div class="raspisanie__header">
                <div class="raspisanie__date">01.01 </div>
                <div class="dateOfWeek">Понедельник</div>
                <div class="raspisanie__place">
                    Нахимовский
                </div>
            </div>
            <div class="raspisanie__sup-header">
                <div class="raspisanie__number">№</div>
                <div class="raspisanie__time">время</div>
                <div class="raspisanie__lesson-name">наименование</div>
                <div class="raspisanie__prepod">преподаватель</div>
                <div class="raspisanie__classroom">
                    каб
                </div>
            </div>
        </div>
        <div class="content">
            <div class="line"></div>
            <div class="content__1 changed">
                <div>
                    <p class="id__par">1</p>
                </div>
                <div class="time_par">
                    <p>08:30<br>10:00</p>
                </div>
                <div>
                    <p class="par-name">
                        Основы Алгоритмизации и программирования
                    </p>
                </div>
                <div>
                    <p class="prepod-name">Жысев Д.В.</p>
                </div>
                <div>
                    <p class="kab">к228</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content__1">
                <div>
                    <p class="id__par">1</p>
                </div>
                <div>
                    <p class="time_par">08:30<br>10:00</p>
                </div>
                <div>
                    <p class="par-name">
                        Основы Алгоритмизации и программирования
                    </p>
                </div>
                <div>
                    <p class="prepod-name">Скорогудаева С.А</p>
                </div>
                <div>
                    <p class="kab">к228</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content__1">
                <div>
                    <p class="id__par">1</p>
                </div>
                <div>
                    <p class="time_par">08:30 <br> 10:00</p>
                </div>
                <div>
                    <p class="par-name">
                        Основы Алгоритмизации и программирования
                    </p>
                </div>
                <div>
                    <p class="prepod-name">Скорогудаева С.А</p>
                </div>
                <div>
                    <p class="kab">к228</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content__1">
                <div>
                    <p class="id__par">1</p>
                </div>
                <div>
                    <p class="time_par">08:30 <br> 10:00</p>
                </div>
                <div>
                    <p class="par-name">
                        Основы Алгоритмизации и программирования
                    </p>
                </div>
                <div>
                    <p class="prepod-name">Скорогудаева С.А</p>
                </div>
                <div>
                    <p class="kab">к228</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content__1">
                <div>
                    <p class="id__par">1</p>
                </div>
                <div>
                    <p class="time_par">08:30 <br> 10:00</p>
                </div>
                <div>
                    <p class="par-name">
                        Основы Алгоритмизации и программирования
                    </p>
                </div>
                <div>
                    <p class="prepod-name">Скорогудаева С.А</p>
                </div>
                <div>
                    <p class="kab">к228</p>
                </div>
            </div>
            <div class="line"></div>

        </div>
    </div>
</body>

</html>