<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center><h1>расписание</h1></center>
    <hr/>

    {# это комментарий #}
    {# использовать переменную {{ названиепеременной }} #}
    {# операции - {% for item in переменная %} {% endfor %} #}
    {# операции - {% if условие %} {% endif %} #}

    {% for r in rasp %}
        <b{{ r.day }}></b>
        {% for sched in r.schedules_list %}
            <a>{{ sched.number_pair.number }} | {{ sched.number_pair.time_start }} - {{ sched.number_pair.time_end }} | {{ sched.discipline }} | {{ sched.building }}, {{ sched.audience_number }} | {{ sched.prepod }}</a>
        {% endfor %}
    {% endfor %}
    <br/>
</body>
</html>