{% load static %}

<div class="d-flex">
    <button class="btn btn-light arrow me-2 my-auto" id="{{ left_arrow_id }}"><img
            src="{% static '/source/img/ARROW.svg' %}"
            alt="Влево"></button>
    <div class="d-flex gap-4" id="{{ container_id }}">
        {% for card_info in passed_cards %}
        <div class="d-flex" id="{{ card_id }}">
            <div class="card-base flex-grow-1 p-3 way-card"
                 {% if card_info.picture %}
                 style="background-image: url('media/{{ card_info.picture }}') !important"
                 {% endif %}>
                <h4 class="main-font">{{ card_info }}</h4>
                <p class="main-font">{{ card_info.description }}</p>
                <button class="main-font btn btn-outline-secondary main-button" href="{{ card_info.link }}">
                    Подробнее
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-light arrow ms-2 my-auto" id="{{ right_arrow_id }}"><img
            src="{% static '/source/img/ARROW.svg' %}" alt="Вправо"></button>
</div>