{% extends 'docsite/base.html' %}
{% load static %}

{% block main_info %}
    <h2>Начало работы</h2>
    <p>Начнем с того, что сам проект находится вот на этой ссылке: <a class="default-link"
                                                                      href="https://github.com/Liromanz/roflan_pominki4k">https://github.com/Liromanz/roflan_pominki4k</a>.
        Для
        того чтобы начать с ним работать, вам нужно либо через GitHub клонировать репозиторий (именно клонировать, не
        скачать как архив, иначе Git работать не будет), либо ввести следующую команду в папке, куда вы хотите
        расположить
        проект</p>

    <div class="code-block">
        <p class="code-text">> git clone https://github.com/Liromanz/roflan_pominki4k</p>
    </div>

    <p>Если вы не можете клонировать или вносить изменения в репозиторий потому что нет прав, запросите их у <a
            href="https://t.me/SafikaFifika" class="default-link">@SafikaFifika</a>. В ином случае, давайте посмотрим
        что у нас происходит внутри проекта</p>
    <p>В самом начале у вас не будет виртуального окружения. При первом запуске, если вы используете PyCharm и он
        правильно установлен, он предложит воспользоваться файлом requirements.txt и докачать все модули для
        взаимодействия с проектом. У каждого разработчика venv будет свой и он не будет отправляться на GitHub.</p>

    <img src="{% static 'docsite/img/venv.png' %}" alt="Venv">

    <p>Если venv не ставится, вам нужно будет поставить его вручную через терминал. После создания, активировать venv и
        докачать в него необходимые библиотеки, расположенные в файле requirements.txt</p>
    <div class="code-block">
        <p class="code-text">> python -m venv .venv</p>
        <p class="code-text">> .venv/Scripts/activate</p>
        <p class="code-text">> pip install -r requirements.txt</p>
    </div>

    <hr/>

    <h2>Структура проекта</h2>

    <p>Рассмотрим структуру проекта. На 21.02.2024 в проекте 3 части - два сайта и один сервер. Сервер называется
        server, основной сайт - mptsite, сайт с документацией - docsite</p>
    <ul>
        <li><p><b>Server</b> - хранит в себе всю основную информацию о проекте, а также всю статику. Статика хранится в
            папке static и внутри себя разделена на две папки - docsite и mptsite для того, чтобы разделить используемые
            модули на две папки. Из-за такого разделения, вся статика подгружается через "server/static", а вот из какой
            папки нужно будет брать статику, вам нужно будет прописывать самому (например, static 'docsite/css/base.css'
            или static 'mptsite/css/nav_style.css')</p>
            <p>Сервер у нас также собственный, работаем мы с postgreSql. Узнать про его работу вы можете <a
                    class="default-link" href="#">здесь, в блоке "Информация о структуре БД"</a>. Кредентиалы сервера
                прописаны в settings.py, по факту, именно этот пользователь является владельцем таблиц, так как он
                создает их через миграции.</p>
        </li>
        <li>
            <p><b>Docsite</b> - сайт с документацией, на котором вы сейчас находитесь. Мы стараемся максимально
                придерживаться архитектуре MVT, однако до чистой архитектуры нам оооочень далеко. Структура следующая:
                моделей тут нет вовсе, так что файл models.py был удален. Все завязано на views.py, где вы можете
                увидеть отображение каждой страницы, кои находятся в папке templates. Файлы в templates названы как
                <b>&lt;номер пункта в меню&gt;&lt;название пункта в меню на английском&gt;</b>.html. Пример -
                1getting_started.html. По нумерации будет проще ориентироваться в пунктах, так как основой является само
                меню. Если тут будут подпункты, но нумероваться они будут как 1.1, 1.2 и т.п.</p>
            <p>Страницы используют шаблоны, которые находятся в папке
                base_template. Для каждого сайта эта папка своя, внутри которой повторно написано название сайта. Нам
                показалось так будет проще ориентироваться в папках, нежели выносить папку с шаблонами для всех сайтов
                отдельно на уровни папок с сайтами. Если вы соберетесь создавать дополнительный модуль и дополнительный
                сайт с шаблонами, не забудьте в settings.py сервера прописать дополнительную ссылку на эти template.
                Прописывается она в Dirs в формате <b>BASE_DIR / '&lt;название сайта&gt;/base_template/&lt;название
                    сайта&gt;'</b></p>

            <p><img src="{% static 'docsite/img/docsite_struct.png' %}" alt="Структура docsite"></p>
        </li>
        <li>
            <p><b>Mptsite</b> - основной сайт МПТ, с которым идет взаимодействие. Структура у него такая же, как у
                docsite, только намного глобальнее. Лучше начать свое ознакомление с docsite, так как там файлов намного
                меньше</p>
            <p> Из дополнительных блоков: здесь уже есть model.py, который хранит в себе как таблицы из БД, так и
                вспомогательные модели, например, для генерации расписания (DaySchedule). Такие модели разделены
                горизонтальной чертой - сверху все, что идет в БД, снизу все, что работает в проекте.</p>
            <p> Папка modules внутри хранит в себе вспомогательные модули, которые с Django никак не связаны и служат в
                качестве вспомогательных классов. Их наименование - чисто понимание, мол, вот генератор, вот парсер и
                тп. Все остальное работает по MVT</p>
            <p><img src="{% static 'docsite/img/mptsite_struct.png' %}" alt="Структура mptsite"></p>

        </li>
    </ul>
{% endblock %}