{% extends 'base.html' %}

{% block main_info %}
    <h2>Добро пожаловать в документацию сайта МПТ!</h2>
    <p>Совместными усилиями нашей команды из Пилькевича Сергея, Мазова Егора, Сахарова Николая и Скорогудаевой Софии, мы
        решили
        жесточайше переписать сайт и сделать все как у людей. Здесь вы можете увидеть всю основную информацию о том, как
        этот сайт должен работать, какие модули вам понадобятся для работы с ним, и где вообще что находится именно в
        самом проекте.</p>
    <p>Сейчас вы находитесь на главной странице документации. Слева есть панель, где вы можете ознакомится с каждым
        модулем по отдельности, либо найти что-то для себя необходимое</p>

    <div class="line"></div>

    <h2>Полезные ссылки:</h2>
    <p><a class="default-link" href="#">Начало работы</a></p>
    <p><a class="default-link" href="#">Клонирование базы данных</a></p>
    <p><a class="default-link" href="#">Структура проекта</a></p>

    <div class="line"></div>

{% endblock %}