{% load static %}

<div class="ms-0 ms-lg-5 me-0 me-lg-5 card pt-lg-3 pb-lg-4 ps-lg-4 pe-lg-3 pe-1 ps-1 card-base mt-4 main-font">
    <div class="row">
        <div class="container-applicant ms-lg-3">
            {% for ques in questions.all_questions %}
                <button class="section-button main-font mt-3">
                <span class="section-button-content">
                    {{  ques.subcategory.subcategory_name  }}
                </span>
                </button>
                <div class="subsections">
                    {% for every_ques in ques.questions %}
                        <div class="dropdown">
                            <button class="custom-dropdown-toggle paddings">
                                <span class="subsections-content">{{ every_ques.question }}</span>
                            </button>
                            <div class="dropdown-content paddings-dropdown">
                                <p> {{ every_ques.answer }}</p>
                            </div>
                            <hr class="mx-4 my-0"/>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
