{% load static %}
<div class="photo-block">
    <div class="container info-block mb-5">
        <div class="row p-4">
            <div class="col order-1 order-lg-0">
                <div class="d-lg-flex mb-4 ">
                    <img class="d-none d-lg-block" src="{% static '/source/img/asd.svg' %}" alt="МПТ"/>
                    <div class="d-none d-lg-block mx-lg-3">
                        <p class="m-0">
                            Московский приборостроительный техникум при РЭУ им. Г.В.
                            Плеханова, обучающая высококлассных программистов и юристов
                        </p>
                        <p class="m-0 bold">Построй своё будущее вместе с нами!</p>
                    </div>
                </div>
                <div class="row gap-4 m-0 d-flex flex-column flex-lg-row">
                    <button type="button" class="choose-specialty col py-2">
                        Подобрать специальность
                    </button>
                    <button type="button" class="submit-documents col py-2">
                        Подать документы
                    </button>
                </div>
            </div>
            {% if main_news is not None %}
            <div class="d-block d-lg-none d-xl-block col-lg-4 order-0 order-lg-1">
                <div class="d-flex">
                    <div class="d-flex flex-row flex-lg-column ">
                        <div class="date-number my-auto me-3 me-lg-0">{{ main_news.date|date:"j" }}</div>
                        <div class="d-flex flex-column d-xl-block">
                            <p class="text-uppercase fs-2 fs-lg-1 text-lg-center bold my-auto">{{ main_news.date|date:"F" }}</p>
                            <p class="text-uppercase fs-2 fs-lg-1 text-lg-center bold my-auto ">в {{ main_news.date|date:"G:i" }}</p>
                            <p class="d-lg-none fs-2 bold m-0">{{ main_news.name }}</p>
                        </div>
                    </div>
                    <div class="d-none d-lg-flex flex-column">
                        <p class="fs-4 text-end bold m-0">{{ main_news.name }}</p>
                        <p class="mt-auto mb-0 text-end" >{{ main_news.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>