{% load static %}
<div class="container-fluid container-lg card card-base p-5">
        <form class="row d-flex justify-content-start">
            <label class="col-auto">
                <input class="input-text main-font ps-2 pe-2 py-2 ps-lg-4 pe-lg-4 text-nowrap"
                       type="text" placeholder="выберите направление"/>
            </label>
            <div class="col-auto">
                <input type="checkbox" id="9" class="checkbox-button">
                <label for="9" class="button-label ps-2 pe-2 py-2 ps-lg-4 pe-lg-4 main-font">9 классов</label>
            </div>
            <div class="col-auto">
                <input type="checkbox" id="11" class="checkbox-button">
                <label for="11" class="button-label ps-2 pe-2 py-2 ps-lg-4 pe-lg-4 main-font">11 классов</label>
            </div>
        </form>
    <div class="d-flex gap-2 align-items-center justify-content-between">
        <button class="d-none d-lg-block btn btn-light arrow" id="left-arrow"><img
                src="{% static '/source/img/ARROW.svg' %}"
                alt="Влево"></button>
        <div class="gap-4 d-flex" id="card-container">
            {% for speciality in specialities %}
            <div class="way-background d-flex" id="card">
                <div class="card-base flex-grow-1 p-3 way-card training-program-card">
                    <div class="training-program-card-info">
                        <h4 class="main-font">{{ speciality.direction.code_name }} - {{ speciality.full_name }}</h4>
                        <p class="main-font clamped-text">{{ speciality.description }}</p>
                    </div>
                    <button class="main-font btn btn-outline-secondary main-button">Подробнее</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="d-none d-lg-block btn btn-light arrow" id="right-arrow"><img
                src="{% static '/source/img/ARROW.svg' %}"
                alt="Вправо"></button>
    </div>
</div>