.card-base {
    border-radius: 15px !important;
    border: none !important;
}

@media (max-width: 768px) {
    .mobile-card {
        border-radius: 0 !important;
        border: none !important;
    }
}

.card-base h2 {
    color: var(--foreground-color);
    font-weight: 300 !important;
}