.custom-dropdown-toggle {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0.2rem 0;
    &:hover {
        color: #6EA8FE !important;
    }
}

.custom-dropdown-toggle-text {
    flex-grow: 1;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 700;
}

.custom-dropdown-toggle-text:hover{
    color: #6EA8FE !important;
    text-decoration: underline;
}

.custom-dropdown-toggle {
    position: relative;
    padding-top: 1.8rem;
}

.custom-dropdown-toggle::after {
    content: ">";
    display: inline-block;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 700;
    transition: transform 0.3s;
    transform: rotate(90deg);
}

.custom-dropdown-toggle.collapsed::after {
    transform: rotate(-90deg);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transition: max-height 0.3s ease-out, opacity 0.4s ease-out, transform 0.4s ease-out;
    opacity: 0;
    margin-top: 10px;
    font-size: 1rem;
}

.dropdown-content.show {
    max-height: 1000px;
    transform: scaleY(1);
    opacity: 1;
}

hr {
    background: #B8B8B8 !important;
    height: 2px !important;
    border: none !important;
}

@media (max-width: 991px) {
    .custom-dropdown-toggle-text {
        font-size: 1.8rem;
    }

    .custom-dropdown-toggle::after {
        font-size: 2rem;
        font-weight: 400;
    }

    .dropdown-content {
        font-size: 1.2rem;
    }
}