.card-base {
    border-radius: 15px !important;
    border: none !important;
}

.block-info p {
    font-size: 15px;
}

.card-base h2 {
    color: var(--foreground-color);
    font-weight: var(--Medium);
}

.clamped-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.about-mpt{
    line-height: 1.7em;
}
