#container-content {
    width: 73%;
}

.subsections {
    display: none;

    &.show {
        display: block;
    }
}

.section-button {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    border: 3px solid var(--background-color);
    border-radius: 15px;
    background: transparent;
    padding:  0.8rem 1.5rem;

    &:hover{
        color: #6EA8FE !important;
    }

    &.collapsed {
        border: 3px solid transparent;
        background-image: linear-gradient(white, white), var(--gradient) !important;
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
}

.paddings {
    padding-top: 0.9rem;
    padding-right: 2.8rem;
    padding-left: 2.3rem;
}

.subsections-content{
    flex-grow: 1;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
        color: #6EA8FE !important;
        text-decoration: underline;
    }
}

.section-button-content:hover{
    color: #6EA8FE !important;
    text-decoration: underline;
}

.paddings-dropdown{
    padding-left: 2.3rem;
    padding-right: 2.8rem;
}

