:root{
    /* !Светлая тема */
    --primary-background: #E8EBF4;
    --secondary-background: #ffffff;
    --primary-foreground: #000000;
    --secondary-foreground: #5E5E5E;
    /*Потом переименовать*/
    --ternary: #F4F1F1;
    /* !Светлая тема */
}

a {
    color: black !important;
    &:hover{
        color: #6EA8FE !important;
        text-decoration: underline;
    }
}

footer{
    background: var(--secondary-background);
    line-height: 1.8em;
    font-size: 18px;
}

.image-block {
    width: 30px;
    height: 30px;
}