footer a:hover {
    color: #6EA8FE !important;
}

footer {
    background: var(--secondary-background);
    color: var(--primary-foreground);
    line-height: 1.8em;
}

.info-text {
    color: var(--primary-foreground);
}

.image-block {
    width: 30px;
    height: 30px;
}

[data-theme="dark"] .image-block {
    filter: invert(100%);
}