.style-text{
    line-height: 23.7px;
    color: black !important;
    font-size: 1.1rem !important;
}

a {
    color: black !important;
    &:hover{
        color: #6EA8FE !important;
        text-decoration: underline;
    }
}

.vertical-hr {
    border-left: 2px solid #E3E3E3;
    height: 100%;
}

.container-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.container-hr {
    width: 3% !important;
}

.bold {
    font-weight: 500;
}

.normal {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

