.custom-dropdown-toggle {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: transparent;
    &:hover {
        color: #6EA8FE !important;
    }
}

.custom-dropdown-toggle-text {
    flex-grow: 1;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 500;
}

.custom-dropdown-toggle-text:hover{

    color: #6EA8FE !important;
    text-decoration: underline;
}

.custom-dropdown-toggle {
    position: relative;
}

.custom-dropdown-toggle::after {
    content: ">";
    display: inline-block;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 700;
    transition: transform 0.3s;
    transform: rotate(90deg);
}

.custom-dropdown-toggle.collapsed::after {
    transform: rotate(-90deg);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.2s ease-in , opacity 0.2s ease-in, transform 0.2s ease-out;
    transform: scaleY(1);
    opacity: 0;
    line-height: 1.7rem;
}

.dropdown-content.show {
    max-height: 1000px;
    transform: scaleY(1);
    opacity: 1;
}

hr {
    background: #B8B8B8 !important;
    height: 2px !important;
    border: none !important;
}

