:root {
    --background-color: #E8EBF4;
    --foreground-color: white;
    --font-fg-color: #323232;
    --font-secondary-fg-color: #606060;
    --gradient: linear-gradient(91.53deg, #6373FF, #6373FF, #BB4040);
}

.arrow {
    background-color: var(--background-color) ;
    color: var(--font-secondary-fg-color) ;
    border-radius: 100% ;
    height: 46.5px;
}

.checkbox-container {
    display: inline-block;
}

.checkbox-button {
    display: none;
}

.button-label {
    display: flex;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 0.15rem solid var(--background-color);
    border-radius: 0.65rem !important;
    font-size: 1.1rem !important;
    color: var(--font-secondary-fg-color) !important;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.checkbox-button:checked + .button-label {
    border: 0.15rem solid transparent;
    background-image: linear-gradient(white, white), var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-color: transparent !important;
}

.button-label:hover {
    border-color: transparent !important;
    color: var(--foreground-color) !important;
    background-color: var(--font-secondary-fg-color) !important;
    background-image: none !important;
}

.main-button {
    border-radius: 0.65rem !important;
    border-width: 0.15rem !important;
    border-color: var(--background-color) !important;
    color: var(--font-secondary-fg-color) !important;

    &:hover {
        border-color: transparent !important;
        color: var(--foreground-color) !important;
        background-color: var(--font-secondary-fg-color) !important;
        background-image: none !important;
    }
}

.input-text {
    font-size: 1.1rem;
    width: 100%;
    background-color: var(--background-color);
    border: 0.15rem solid var(--background-color);
    color: var(--font-secondary-fg-color);
    border-radius: 0.65rem;

    &:hover {
        background-color: transparent;
        color: var(--font-secondary-fg-color);
        border: 0.15rem solid var(--font-secondary-fg-color);
    }
}

.way-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-end !important;
    position: relative;
    overflow: hidden;
            background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}


.training-program-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 57%;
}

.way-card h4 {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    color: var(--foreground-color) !important;
}

.way-card p {
    font-weight: 400 !important;
    color: var(--foreground-color) !important;
    font-size: 1rem !important;
    line-height: 1.5rem;
}

.way-card button {
    color: var(--foreground-color) !important;
}

.way-card button:hover {
    color: var(--font-secondary-fg-color) !important;
    background-color: var(--foreground-color) !important;
}

#card-container {
    overflow-x: auto !important;
    scrollbar-width: none;
    scroll-behavior: smooth !important;
    height: 28.95rem !important;
    #card{
        background-image: url(../source/img/WAY_IMAGE.jpg) !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px !important;
    }
}

#news-card-container {
    overflow-x: auto !important;
    scroll-behavior: smooth !important;
    scrollbar-width: none;
    height: 28.95rem !important;
}

#card-container div {
    width: 20rem !important;
}

#news-card-container div {
    width: 20rem !important;
}

#left-arrow img, #l-arrow img {
    transform: scaleX(-1);
}

.program-btn {
    font-size: 1rem !important;
}

#hidden-btn {
    visibility: hidden !important;
}



