.arrow {
    font-size: 1.5rem !important;
    background-color: var(--background-color) !important;
    color: var(--font-secondary-fg-color) !important;
    border-radius: 100% !important;
}

.checkbox-container {
    display: inline-block;
}

.checkbox-button {
    display: none;
}

.button-label {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 0.15rem solid var(--background-color);
    border-radius: 0.65rem !important;
    font-size: 1.2rem !important;
    color: var(--font-secondary-fg-color) !important;
}

.checkbox-button:checked + .button-label {
    border: 0.15rem solid transparent;
    background-image: linear-gradient(white, white), var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-color: transparent !important;
}

.button-label:hover {
    border-color: transparent !important;
    color: var(--foreground-color) !important;
    background-color: var(--font-secondary-fg-color) !important;
    background-image: none !important;
}

.main-button {
    border-radius: 0.65rem !important;
    border-width: 0.15rem !important;
    border-color: var(--background-color) !important;
    color: var(--font-secondary-fg-color) !important;

    &:hover {
        border-color: transparent !important;
        color: var(--foreground-color) !important;
        background-color: var(--font-secondary-fg-color) !important;
        background-image: none !important;
    }
}

.input-text-container {
    width: 25rem;
}

.input-text {
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--background-color);
    border: 0.15rem solid var(--background-color);
    color: var(--font-secondary-fg-color);
    border-radius: 0.65rem;

    &:hover {
        background-color: transparent;
        color: var(--font-secondary-fg-color);
        border: 0.15rem solid var(--font-secondary-fg-color);
    }
}

.way-card {
    background-image: url(../source/img/WAY_IMAGE.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex !important;

    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-end !important;
    position: relative;
    overflow: hidden;
}

.training-program-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 0;
    border-radius: inherit;
}

.training-program-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 57%;
}

.way-card h4 {
    font-weight: 700 !important;
    color: var(--foreground-color) !important;
}

.way-card p {
    font-weight: 300 !important;
    color: var(--foreground-color) !important;
    font-size: 1.2rem !important;
}

.way-card button {
    color: var(--foreground-color) !important;
}

.way-card button:hover {
    color: var(--font-secondary-fg-color) !important;
    background-color: var(--foreground-color) !important;
    font-weight: 300 !important;
}

#card-container {
    overflow-x: auto !important;
    scroll-behavior: smooth !important;
    height: 28.95rem !important;
}

#news-card-container {
    overflow-x: auto !important;
    scroll-behavior: smooth !important;
    height: 28.95rem !important;
}

#card-container div {
    width: 20rem !important;
}

#news-card-container div {
    width: 20rem !important;
}

#left-arrow img, #l-arrow img {
    transform: scaleX(-1);
}

.program-btn {
    font-size: 0.9rem !important;
}

#hidden-btn {
    visibility: hidden !important;
}


.news-content div * {
    width: 80% !important;
}

.training-program-card div * {
    width: 85% !important;
}


.way-card h4,
.way-card p,
.way-card button {
    position: relative;
    z-index: 1;
}
