.header-font {
    color: black !important;
    font-size: 1.2rem !important;
}

.header-font:hover {
    color: #6EA8FE !important;
    text-decoration: underline;
}

.Fs {
    font-size: 18px !important;
}


.header {
    position: relative; /* Чтобы разместить переключатель внутри хедера */
}

.navbar-nav {
    display: flex;
    justify-content: space-between; /* Распределение элементов по ширине */
    width: 100%; /* Для того чтобы элементы растягивались на всю ширину контейнера */
}

.theme-switcher {
    display: flex;
    align-items: center; /* Вертикальное выравнивание переключателя */
    margin-left: 20px; /* Перемещение переключателя вправо */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;  /* Ширина переключателя */
    height: 28px; /* Высота переключателя */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 28px; /* Округление для переключателя */
}

.slider:before {
    position: absolute;
    content: "☀️"; /* Луна по умолчанию */
    height: 24px;  /* Высота иконки */
    width: 24px;   /* Ширина иконки */
    left: 2px;     /* Отступ от левого края */
    bottom: 2px;   /* Отступ от нижнего края */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    text-align: center;
    line-height: 24px; /* Центрирование иконки по вертикали */
}

input:checked + .slider {
    background-color: #2196F3; /* Цвет фона при включении */
}

input:checked + .slider:before {
    content: "🌙"; /* Солнце при включении */
    transform: translateX(22px); /* Позиция для увеличенного переключателя */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px; /* Округление для переключателя */
}

.slider.round:before {
    border-radius: 50%;
}



/* Скрываем верхний хедер при ширине экрана меньше 992px */
@media (max-width: 991.98px) {
    .header {
        display: none;
    }
}
