<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>

{% include 'header_top.html' %}
<hr class="p-0 m-0">

{% include 'header_main.html' %}
<hr class="p-0 m-0">

{% include 'photo_block.html' %}

{% include 'about_mpt.html' %}

<h1 class="m-4 main-font text-center">Программы обучения</h1>
{% include 'training-program.html' %}

<h1 class="m-4 main-font text-center">Новости</h1>
{% include 'news.html' %}

<h1 class="m-4 main-font text-center">Абитуриенту</h1>
{% include 'applicant.html' %}

<h1 class="m-4 main-font text-center">Вопрос-Ответ</h1>
<div class="container card card-base">
    <div class="row">
        {% for ques in faq.questions %}
        <div class="dropdown">
            <button class="custom-dropdown-toggle p-3">
                <span class="custom-dropdown-toggle-text">{{ ques.question }}</span>
            </button>
            <div class="dropdown-content px-3">
                <p  style="white-space: pre-wrap"> {{ ques.answer }}</p>
            </div>
            <hr class="mx-2 mx-lg-3 my-0"/>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'map_short.html' %}

{% include 'footer_main.html' %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="{% static 'js/frequently_asked_questions.js' %}"></script>
<script src="{% static 'js/training_programs.js' %}"></script>
<script src="{% static 'js/applicant.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
</html>